:root {
  --bg-primary: #370057;        /* Morado oscuro */
  --bg-secondary: #3B006B;     /* Morado más oscuro */
  --bg-tertiary: #45235A;      /* Tonalidad de morado claro */
  --bg-quaternary: #512570;   /* Tonalidad de morado muy claro */
  --bg-variant: #443F64;       /* Tono oscuro con matices de morado */
  --bg-on-surface: #EDEDF4;   /* Blanco con tono naranja claro */
  
  --primary: #FF69B4;          /* Naranja intenso */
  --primary-darken: #FF4DA6;  /* Naranja oscuro */
  --secondary: #FF99CC;        /* Naranja pastel */
  --secondary-darken: #FF77AA; /* Naranja pastel oscuro */
  
  --error: #FF3333;            /* Rojo intenso */
  --info: #33CC33;            /* Verde intenso */
  --success: #33CC33;         /* Verde intenso */
  --warning: #FFCC00;         /* Amarillo intenso */

  --border-color: #443F64;
  --border-opacity: 0.12;
  --high-emphasis-opacity: 0.87;
  --medium-emphasis-opacity: 0.60;
  --disabled-opacity: 0.38;
  --idle-opacity: 0.04;
  --hover-opacity: 0.04;
  --focus-opacity: 0.12;
  --selected-opacity: 0.08;
  --activated-opacity: 0.12;
  --pressed-opacity: 0.12;
  --dragged-opacity: 0.08;

  --theme-kbd-bg: #443F64;
  --theme-kbd-text: #EDEDF4;
  --theme-code-bg: #443F64;
  --theme-code-text: #FFFFFF;
}

  
  @import '../../ node_modules/@mdi/font/css/materialdesignicons.min.css';